.dataItem {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.table {
    border: 1px solid black;
}
  
.td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 16px;
    text-align: center;
}